/*
==============================
Adding custom fonts
==============================
*/

@font-face {
  font-family: 'rubiklight';
  src: url('../font/rubik-variablefont_wght-webfont.woff2') format('woff2'),
       url('../font/rubik-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubiklight_italic';
  src: url('../font/rubik-italic-variablefont_wght-webfont.woff2') format('woff2'),
       url('../font/rubik-italic-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
==============================
Transition
==============================
*/
body,
#mainNav a,
#mainNav .navbar-toggler,
#mainNav .nav-link.active,
.content-section,
.about-section {
  transition: color 0.6s linear, border-color 0.2s linear,
    background-color 0.2s linear;
}
.publications-section {
  transition: color 0.6s linear, border-color 0.2s linear,
    background-color 0.2s linear;
}
#mainNav {
  transition: padding-top 0.2s ease-in-out, padding-bottom 0.2s ease-in-out,
    background-color 0.2s linear, border-image-source 1s linear;
}

/*
==============================
Generic
==============================
*/
body {
  background-color: white;
  color: black;
}

.badge {
  font-size: small;
  margin-right: 4px;
}

.bg-primary {
  background-color: #f57f48 !important;
}

.bg-secondary {
  background-color: #dd5bb0 !important;
}

.bg-grey {
  background-color: rgba(0, 0, 0, 0.3);
}

.h-screen {
  height: 100vh;
}

.img-thumbnail {
  box-shadow: none;
  border-color: transparent;
  border-radius: 0px;
  background: linear-gradient(90deg, #f57f4855 0%, #dd5bb044 100%);
  padding: 10px;
}

.btn-carousel:focus {
  box-shadow: none;
}

.date {
  font-style: italic;
}

.link:hover {
    cursor: pointer;
}

.btn-circle {
  color: black;
  border-color: black;
}

.btn-default {
  color: rgba(69, 97, 210, 1);
}

.btn-default:hover {
  color: white;
}

.btn-primary {
  color: white;
}


/*
==============================
Layout
==============================
*/
.content-section {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-section {
  background-color: white;
}

.publications-section {
  margin-top: 100px;
  background-color: white;
}

.fieldwork-section {
  margin-top: 50px;
  background-color: white;
}

.cv-section {
  background-color: white;
}

.contact-section {
  font-size: small;
  background-color: white;
}

.projects-container {
  max-width: 1440px;
}

div.separator {
  width: 100%;
  height: 3vw;
  margin-left: 0px;
  background-image: linear-gradient(
    90deg,
    #7FDEFF 0%,
    #7FDEFF 4%,
    white 5%,
    white 95%,
    #7FDEFF 96%,
    #7FDEFF 100%
  );
  z-index: 1000;
}


/* 
==============================
Navbar
==============================
*/
#mainNav {
  color: black;
  will-change: padding-top, padding-bottom, background-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds the shadow */
  z-index: 1000; /* Ensures the navbar stays on top of other elements */
  position: fixed; /* Keeps the navbar at the top of the viewport */
  width: 100%; /* Ensures the navbar spans the full width */
}
#mainNav a {
  color: black;
}
#mainNav .nav-link.active {
  background-color: rgb(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .navbar-brand {
  opacity: 0%;
}

#mainNav.navbar.navbar-shrink {
  background-color: white;
}

.navbar.navbar-shrink .navbar-brand {
  opacity: 100%;
  background-color: white
}

.brand-heading {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: max(6vw, 30pt);
}


/* 
==============================
Front cover
==============================
*/
#Mountains,
#Ethiopia,
#Cyprus {
  width: 100vw;
  position: fixed;
  background-position: bottom;
  background-size: cover;
  z-index: -1;
  height: max(140vh, 90vw);
  transition: opacity 0.2s ease-in-out;
  will-change: transform;
}

#Mountains {
  background-image: url("../img/Mountains.jpg");
}

#Ethiopia {
  background-image: url("../img/Ethiopia.jpeg");
}

#Cyprus {
  background-image: url("../img/Cyprus.jpg");
}

#arrow {
  margin-top: -100px;
  color: black;
  font-size: xx-large;
}

/* 
==============================
Project card
==============================
*/

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 95px;
  text-align: center;
  background-color: #eee;
}
.card {
  width:450px;
  height: max-content;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  margin: 20px;
  display: flex;
  align-items: center;
}
.card img{
  width:90%;
  height: auto;
  margin-top: 10px;
}
.card-content {
  padding: 16px;
}
.card-content h3{
  font-size: 28px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
.card-content p{
  color:#666;
  font-size: 15px;
  line-height: 1.3;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
.card-content .btn{
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  color: #fff;
}
.card-content .btn:hover {
  opacity: 0.5;
}

/* 
==============================
Lists
==============================
*/
.custom-list {
  font-size: large;
}
.custom-list li{
  margin-bottom: 20px;
}

.arrow-circle {
  display: inline-block;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: #F0F8FF;
  color: black;
  transition: all 0.3s ease-in-out;
}

.arrow-circle:hover {
  background-color: #007bff; /* Change background on hover */
  color: white; /* Change icon color on hover */
}

/* 
==============================
Modal Popup windows
==============================
*/

.cls-1 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: .5px;
}
.cls-1a {
  stroke: red;
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
  cursor: pointer;
  transition: stroke 0.3s ease;
}
.cls-1a:hover {
  fill: #FF8080; /* Optional: Change color */
}
.cls-1b {
  stroke: #33DDFF;
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
  cursor: pointer;
  transition: stroke 0.3s ease;
}
.cls-1b:hover {
  fill: #007BFF; /* Optional: Change color */
}
.cls-1c {
  stroke: green;
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
  cursor: pointer;
  transition: stroke 0.3s ease;
}
.cls-1c:hover {
  fill: lightgreen; /* Optional: Change color */
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  color: gray;
}

.close-modal:hover {
  cursor: pointer;
  color: black; 
}

/* Image Container */
.image-container {
  display: flex;
  overflow-x: auto;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


/* Image Track */
.image-track {
  width: 100%; 
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.image-track img {
  max-height: 300px;
  object-fit: contain;
  flex-shrink: 0;
}


/* 
==============================
Video Container
==============================
*/
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -50px;
}
/* 
==============================
Writing in columns
==============================
*/
.wrap {
  width:600px;
  margin:0 auto;
}
.left_col {
  float:left;
  width:200px;
}
.right_col {
  float:right;
  width:400px;
}